# SO IN THIS NOTEBOOK WE'RE GIVEN ZOMATO DATASET ON BANGLORE CITY WHICH IS COMPOSED OF MANY FEATURES AND WE'RE TO PREDICT THE RATINGS GIVEN BY THE CUSTOMERS TO VARIOUS RESTRAUNTS IN THE CITY ON THE ZOMATO APP. SO HERE WE GO......

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('zomato.csv')

In [4]:
df['listed_in(city)'].unique()

array(['Banashankari', 'Bannerghatta Road', 'Basavanagudi', 'Bellandur',
       'Brigade Road', 'Brookefield', 'BTM', 'Church Street',
       'Electronic City', 'Frazer Town', 'HSR', 'Indiranagar',
       'Jayanagar', 'JP Nagar', 'Kalyan Nagar', 'Kammanahalli',
       'Koramangala 4th Block', 'Koramangala 5th Block',
       'Koramangala 6th Block', 'Koramangala 7th Block', 'Lavelle Road',
       'Malleshwaram', 'Marathahalli', 'MG Road', 'New BEL Road',
       'Old Airport Road', 'Rajajinagar', 'Residency Road',
       'Sarjapur Road', 'Whitefield'], dtype=object)

In [5]:
df.shape

(51717, 17)

In [6]:
df

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,"1,500","[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,[],[],Pubs and bars,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [7]:
df['approx_cost(for two people)'].isnull().sum()

346

In [8]:
df['approx_cost(for two people)'].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', nan, '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '330', '2,500',
       '2,100', '3,000', '2,800', '3,400', '40', '1,250', '3,500',
       '4,000', '2,400', '2,600', '120', '1,450', '469', '70', '3,200',
       '60', '560', '240', '360', '6,000', '1,050', '2,300', '4,100',
       '5,000', '3,700', '1,650', '2,700', '4,500', '140'], dtype=object)

In [138]:
df['approx_cost(for two people)'][0]

800.0

### SO, HERE WE BUILD A FUNCTION WHICH WE WILL CONVERT THE 'approx_cost(for two people )' COLUMN TO A PURE INTEGER FOR THE MODEL TO FEED ON IT

In [10]:
def remove(s):
    if(isinstance(s, str)):
        ans=0
        for i in s:
            if(i!=','):
                ans*=10
                ans+=int(i)
        return int(ans)
    else:
        return s

In [11]:
for i in range (len(df['approx_cost(for two people)'])):
    df.at[i,'approx_cost(for two people)']=remove(df.at[i,'approx_cost(for two people)'])

In [12]:
df['approx_cost(for two people)'].median()

400.0

In [13]:
df['approx_cost(for two people)'].fillna(400.0,inplace = True)

In [14]:
df['approx_cost(for two people)'].isnull().sum()

0

In [15]:
df['online_order'].unique()

array(['Yes', 'No'], dtype=object)

In [139]:
df['online_order'] = df['online_order'].replace({'Yes':1,'No':0})

/var/folders/jm/fzpx9nmx3gl9k9bfkhp1cy100000gn/T/ipykernel_21032/1190499278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['online_order'] = df['online_order'].replace({'Yes':1,'No':0})

### AS THE 'online_order' COLUMN HAVE ONLY TWO UNIQUE VALUES WHICH ARE 'Yes' AND 'No' ,  WE'LL CONVERT THEM TO '1' AND '0' RESPECTIVELY SO THAT MODEL CAN FEED ON IT

In [17]:
df['online_order']

0        1
1        1
2        1
3        0
4        0
        ..
51712    0
51713    0
51714    0
51715    0
51716    0
Name: online_order, Length: 51717, dtype: int64

In [140]:
df['book_table'].unique()

array([1, 0])

### WE'LL CONVERT THE 'book_table' COLUMN AS WE DID WITH 'online_order' COLUMN

In [19]:
df['book_table'] = df['book_table'].replace({'Yes':1,'No':0})

In [20]:
df['book_table'].unique()

array([1, 0])

In [21]:
df['votes'].isnull().sum()

0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  int64
 4   book_table                   51717 non-null  int64
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51717 non-null  float64
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: float64(1), int64(3), object(13)
memory usage: 6.7+ MB

In [23]:
df['listed_in(type)'].isnull().sum()

0

In [24]:
df['listed_in(type)'].unique()

array(['Buffet', 'Cafes', 'Delivery', 'Desserts', 'Dine-out',
       'Drinks & nightlife', 'Pubs and bars'], dtype=object)

In [141]:
df.corr()

,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),menu_item
online_order,1.000000,-0.129724,-0.036798,-0.078384,-0.096029,0.053374,-0.019477,-0.286137,-0.345250
book_table,-0.129724,1.000000,0.353517,0.324970,0.109832,-0.215334,0.006974,0.604599,0.083767
rate,-0.036798,0.353517,1.000000,0.380791,0.110220,-0.148186,-0.103791,0.312006,0.005221
votes,-0.078384,0.324970,0.380791,1.000000,0.043839,-0.091944,-0.049121,0.310087,0.030030
location,-0.096029,0.109832,0.110220,0.043839,1.000000,-0.077308,-0.001734,0.200471,0.018427
rest_type,0.053374,-0.215334,-0.148186,-0.091944,-0.077308,1.000000,0.257848,-0.253287,-0.037843
cuisines,-0.019477,0.006974,-0.103791,-0.049121,-0.001734,0.257848,1.000000,-0.047604,0.032915
approx_cost(for two people),-0.286137,0.604599,0.312006,0.310087,0.200471,-0.253287,-0.047604,1.000000,0.127298
menu_item,-0.345250,0.083767,0.005221,0.030030,0.018427,-0.037843,0.032915,0.127298,1.000000

### HERE WE'RE DROPPING SOME COLUMNS ('phone',address','url') AS THEY ARE NOT AS SIGNIFICANT AND WON'T MAKE MUCH OF A DIFFERENCE ON PREDICTABILITY

In [26]:
df = df.drop(["phone","address","url","name"],axis = 1)

In [27]:
df

,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,1,1,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,0,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,1,0,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,0,0,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,0,0,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6 /5,27,Whitefield,Bar,NaN,Continental,1500.0,"[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,0,0,NaN,0,Whitefield,Bar,NaN,Finger Food,600.0,[],[],Pubs and bars,Whitefield
51714,0,0,NaN,0,Whitefield,Bar,NaN,Finger Food,2000.0,[],[],Pubs and bars,Whitefield
51715,0,1,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,2500.0,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,0,0,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental",1500.0,"[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [28]:
type(df['menu_item'][0])

str

In [29]:
df['menu_item'].unique()

array(['[]',
       "['Chocolate Fantasy (Pack Of 5)', 'Pan Cake (Pack Of 6)', 'Gulab Jamun (Pack Of 10)', 'Gulkand Shot (Pack Of 5)', 'Chocolate Decadence (Pack of 2)', 'CheeseCake (Pack Of 2)', 'Red Velvet Slice Cake (Pack of 2)', 'Red Velvet Slice Cake & Cheese Cake (Pack of 2)', 'Red Velvet Slice Cake & Chocolate Decadence Cake (Pack of 2)', 'Hazelnut Brownie (Pack of 2)', 'Moments', 'Red Velvet Cake With Butter Cream Frosting (750 Gm)', 'Red Velvet Slice Cake (Pack of 2)', 'Red Velvet Slice Cake & Cheese Cake (Pack of 2)', 'Red Velvet Slice Cake & Chocolate Decadence Cake (Pack of 2)', 'Red Velvet Slice Cake (Pack of 1)', 'Valentine Red Velvet Jar', 'Valentine Chocolate Jar', 'Valentines Jar Combo', 'Pink Guava 500 ML', 'Oreo Vanilla 500 ML', 'Cookie Crumble 500 ML', 'Chocolate Fantasy', 'Gulkand-E-Bahar', 'Pan Cake', 'Hazelnut Brownie (Pack Of 1)', 'Gulab Jamun (Pack Of 2)', 'Plum Cake', 'Red Velvet Cake With Butter Cream Frosting (750 Gm)', 'Chocolate Mud Cake (700 Gms)', 'CheeseCake (Pack of 1)', 'Chocolate Decadence (Pack of 1)', 'Red Velvet Slice Cake (Pack of 1)']",
       "['Chole Kulcha Meal', 'Upvas Aloo Paratha With Dahi', 'Singhada Aloo Paratha with Hare Tamatar Ki Sabji', 'Smoked Butter Chicken Combo', 'Paneer Methi Chaman Combo', 'Mutton Bhuna Combo', 'Rajma Masala Meal', 'Dal Makhani Veg Starter Combo', 'Dal Makhani Non-Veg Starter Combo', 'Malai Kofta Combo', 'Jumbo Chicken Wrap', 'Jumbo Veg Wrap', 'Jumbo Falafel Salsa Wrap', 'Chicken Overload Jumbo Wrap', 'Veg Pizza Wrap', 'Chicken Pizza Wrap', 'Mexican Potato Salsa Wrap', 'American Smokey Sausage Wrap', 'Makhani Falafel Wrap', 'Mutton Overload Wrap', 'Mac & Cheese Chicken Wrap', 'Mac & Cheese Veg Wrap', 'Barbeque Chicken Wrap', 'Mutton Boti Wrap', 'Masala Paneer Tikka Wrap', 'Fiery Paneer Tikka Wrap', 'Masala Chicken Tikka Wrap', 'Cheesy Corn Salsa Wrap', 'Chicken Mayo Wrap', 'Cheese Melt Chicken Wrap', 'Cheese Melt Paneer Wrap', 'Double Cheese Meatball Wrap', 'Reshmi Chicken Kebab Wrap', 'Egg Cheese Sausage Wrap', 'Double Egg Chatpata Wrap', 'Cheesy Potato Wrap', 'Veg Falafel Wrap', 'Chicken Bhuna Wrap', 'Chatpate Chole Wrap', 'Fiery Paneer Wrap', 'Fiery Chicken Wrap', 'Mac & Cheese Wrap', 'Hare Tamatar & Sabudana Wada Royal Thali', 'Singhada Aloo Paratha & Hare Tamatar Royal Satvik Meal', 'Smoked Butter Chicken With Omelette', 'Rajma Masala Royal Combo', 'Paneer Methi Chaman Royal Combo', 'Mutton Bhuna Royal Combo', 'Smoked Butter Chicken Royal Combo', 'Malai Kofta Royal Combo', 'Fusion Breakfast', 'Pan Cake', 'Aloo Paratha Combo', 'Chai for 4', 'Cheesy Chicken Meatballs', 'Peach Tea (Serves 4)', 'Falafel Nuggets with Mayo Dip', 'Potato Chilli Shots with Mayo Dip', 'Pan Cake', 'Kashmiri Kahwa (Serves 4)', 'Masala Chai (Serves 4)', 'Chai for 4 + Nature valley bar', 'Kulcha', 'Flavorful Rice Tub', 'Dal Makhani Bowl (Half KG)', 'Smoked Butter Chicken Bowl (Half KG)', 'Mutton Bhuna Bowl (Half KG)', 'Singhada Aloo Paratha Tub', 'Curd Bowl (Half KG)', 'Hare Tamatar Ki Subji (Half KG)', 'Rajma Masala Bowl (Half KG)', 'Triangle Paratha Tub', 'Malai Kofta Bowl (Half Kg)', 'Chocolate Fantasy', 'SWIG Jeera Masala', 'SWIG Green apple', 'Kesar Muesli', 'Gulab Jamun (Pack Of 2)', 'Plum Cake', 'Gulab Jamun (Pack of 1)', 'Moments', 'Hazelnut Brownie (Pack Of 1)', 'CheeseCake (Pack of 1)', 'Chocolate Decadence (Pack of 1)', 'Red Velvet Slice Cake (Pack of 1)', 'Mint Chaas']",
       ...,
       '[\'Veg Thai Green Curry\', \'BBQ Sloppy Chicken Burger\', "Harry\'s Farm House Pizza", \'Egg Schezwan Fried Rice\', \'Chicken Schezwan Noodles\', \'Veg Platter\', \'Non Veg Platter\', \'Tom Yum Goong\', \'Tandoori Kalonji Aloo\', \'Tandoori Pesto Flowerets\', \'Paneer and Pineapple Tikka\', \'Adraki Soy Chilli Chicken Kebab\', \'Tandoori Chicken Lollipop\', \'Parpika Choosa\', \'Lamb Seekh Kebab\', \'Achari Fish Tikka\', \'Rumali Roti\', \'Naan\', \'Butter Naan\', \'Garlic Naan\', \'Butter Garlic Naan\', \'Cheese Naan\', \'Butter Garlic Cheese Naan\', \'Garlic Cheese Naan\', \'Veg Fried Rice\', \'Veg Schezwan Fried Rice\', \'Veg Hakka Noodles\', \'Veg Schezwan Noodles\', \'Veg Singapore Noodles\', \'Egg Fried Rice\', \'Egg Schezwan Fried Rice\', \'Egg Hakka Noodles\', \'Egg Schezwan Noodles\', \'Egg Singapore Noodles\', \'Chicken Hakka Noodles\', \'Chicken Schezwan Noodles\', \'Chicken Singapore Noodles\', \'Prawns Fried Rice\', \'Prawns Schezwan Fried Rice\', \'Prawns Hakka Noodles\', \'Prawns Schezwan Noodles\', \'Prawns Singapore Noodles\', \'Margherita Pizza\', "Harry\'s Farm House Pizza", \'Classique Paneer Tikka Pizza\', \'Veg Exotica Pizza\', \'Thai Basil Chicken Pizza\', \'Classic Chicken Tikka Pizza\', \'Spicy Pepperoni Pizza\', \'Penne Rustica\', \'Spaghetti Aglio e Olio Pasta\', \'HarryÃ\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x83Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82Â¢Ã\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x82Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82\\x80Ã\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x82Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82\\x99s Mac and Cheese Pasta\', \'Penne Vodkatini\', \'Baked Butter Chicken Lasaqna\', \'Spaghetti Carbonara\', \'Straight Up Veg Burger\', \'BBQ Sloppy Chicken Burger\', \'HarryÃ\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x83Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82Â¢Ã\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x82Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82\\x80Ã\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x82Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82\\x99s Lamb Burger\', \'Jazz Burger\', \'Paneer Bhurji Pav\', \'Egg Kejriwal\', \'Anda Bhurji Pav\', \'Omelette Pav\', \'Egg Chilly\', \'Goan Rassa Omelette with Pav\', \'Veg Wok Tossed Ginger Sprout Noodles with Crackling Spinach\', \'Veg Kung Pao Curry\', \'Veg Thai Green Curry\', \'Veg Laksa\', \'Chicken Wok Tossed Ginger Sprout Noodles with Crackling Spinach\', \'Grilled Chilly Chicken\', \'Chicken Kung Pao Curry\', \'Chicken Thai Green Curry\', \'Chicken Laksa\', \'Sri Lankan Black Pepper Chicken\', \'Nasi Stir Fry Rice\', \'Fish Wok Tossed Ginger Sprout Noodles with Crackling Spinach\', \'Seafood Kung Pao Curry\', \'Seafood Thai Green Curry\', \'Seafood Laksa\', \'Bangkok Seafood Bowl\', \'Crispy Garlic Bread\', \'Classic Masala Peanut\', \'Salt and Pepper Corn\', \'Bombay Spiced Wedges\', \'Harrys Onion Rings\', \'French Fries\', \'Crispy Chilli Potatoes\', \'Baked Sweet Potato Wedges\', \'Peri Peri Salsa Fries\', \'Parmigiana Truffle Fries\', \'Chicken Tikka Poutine\', \'Lamb Lovers Fries\', \'Paneer Bhurji Pav\', \'Cheese Chilli Toast\', \'Pita Chips with Classic Hummus\', \'Paneer Chilli Dry\', \'Veg Smoked Quesadillas\', \'Fondue Stuffed Mushrooms\', \'Wonton Kachories\', \'Cottage Cheese Malaysian Satay\', \'Muchos Nachos Veggie\', "Harry\'s Cheese Fondue Veg Dunks", \'Non Veg Smoked Quesadillas\', \'Chilli Chicken\', \'Chicken Malaysian Satay\', \'Drunken Chicken\', \'Crispy Chicken\', \'Andhra Chicken Pepper Fry\', \'Singapore Chicken Lollipop\', \'Fiery Schezwan Pepper Chicken\', \'Chilli Chicken Roll\', \'BBQ Rum Flambeed Wings\', \'Grilled Tenderloin Chilli Fry\', \'Keema Pav\', \'Pigs in a Blanket\', \'Kerala Buff Chilly\', \'Buffalo Chicken Winglets\', \'Pattaya Beach Fish Goujons\', \'Fishermans Basket\', "Harry\'s Cheese Fondue Non Veg Dunks", \'Paneer Urban Tikka Masala\', "Veg Harry\'s Stroganoff", \'Chicken Urban Tikka Masala\', \'Jamaican Jerk Chicken\', "Chicken Harry\'s Stroganoff", \'Harrys Pepper Chicken\', \'Peppered Tenderloin Steak\', "Harry\'s Beer Batter Fish", \'Smoked Paprika Fish\', \'Darsaan\', \'Sizzling Brownie\']',
       '[\'Chicken Wings\', \'Pepper Chicken\', "Beef Grilled One\'s Burger", \'Spicy Louisiana Pizza\', \'Chilly Chicken Pizza\', \'Chicken Mexicana Pizza\', \'Veg Italian Tomato and Fresh Basil Soup\', \'Chicken Lemon Coriander Soup\', \'Southern Fried Chicken\', \'Chicken Wings\', \'Gambas\', \'Bbq Jerk Chicken\', \'Chicken Nachos Carnitos\', \'Spicy Chicken Carrebbean Sausages\', \'Spicy Pork Carrebbean Sausages\', \'Pork Nachos Carnitos\', \'Beef Spicy New Orleans Braised Meat\', \'Cajun Spiced Fish Fingers\', \'Pepper Chicken\', \'Chicken Apollo Style\', \'Prawns Apollo Style\', \'Chicken Streetside Chilly Style\', \'Beef Streetside Chilly Style\', \'Pork Streetside Chilly Style\', \'Chicken Manchurian Style\', "Chicken Spicy Chef\'s Special Style", "Beef Spicy Chef\'s Special Style", "Chicken Kim\'s Style", \'Beef Nachos Carnitos\', "Beef Kim\'s Style", "Pork Kim\'s Style", \'Chettinad Chicken Roast\', \'Chettinad Pudhina Chicken Roast\', \'Chicken Kabab\', "Prawns Spicy Chef\'s Special Style", \'Prawns Manchurian Style\', \'Fried Beef\', \'Pork Spicy New Orleans Braised Meat\', \'Fried Pork\', "Prawns Kim\'s Style", \'Fish Manchurian Style\', "Fish Spicy Chef\'s Special Style", \'Fish Streetside Chilly Style\', \'Fish Apollo Style\', "Fish Kim\'s Style", \'Pork Streetside Chilly Style\', "Pork Spicy Chef\'s Special Style", \'Pork Manchurian Style\', \'Beef Manchurian Style\', "Paneer Korean Kim\'s Style", \'Paneer Tangy Spinach Sauce\', \'Paneer Apollo Style Sauce\', \'Paneer Singaporean Style Sauce\', \'Paneer Ginger Chilly Garlic Sauce\', \'Paneer Ginger Chilly Garlic Sauce\', \'Paneer Ginger Chilly Garlic Sauce\', \'Paneer Hot Garlic Sauce\', \'Paneer Lemon Coriander Sauce\', "Veg Korean Kim\'s Style", \'Veg Tangy Spinach Sauce\', \'Veg Apollo Style Sauce\', "Veg Korean Kim\'s Style", \'Veg Singaporean Style Sauce\', \'Veg Ginger Chilly Garlic Sauce Burger\', \'Veg Chefs Super Spicy Style\', \'Veg Hot Garlic Sauce\', \'Lemon Coriander Sauce\', "Chicken Korean Kim\'s Style", \'Chicken Tangy Spinach Sauce\', \'Apollo Style Sauce\', \'Chicken Singaporean Style Sauce\', \'Chicken Singaporean Style Sauce\', \'Chicken Chefs Super Spicy Style\', \'Chicken Hot Garlic Sauce\', \'Chicken Hot Garlic Sauce\', "Beef Korean Kim\'s Style", \'Beef Tangy Spinach Sauce\', \'Beef Apollo Style Sauce\', \'Beef Singaporean Style Sauce\', \'Beef Ginger Chilly Garlic Sauce\', \'Beef Chefs Super Spicy Style\', \'Beef Chefs Super Spicy Style\', \'Beef Hot Garlic Sauce\', \'Beef Lemon Coriander Sauce\', "Pork Korean Kim\'s Style", \'Pork Tangy Spinach Sauce\', \'Pork Apollo Style Sauce\', \'Pork Singaporean Style Sauce\', \'Pork Ginger Chilly Garlic Sauce\', \'Pork Chefs Super Spicy Style\', \'Pork Hot Garlic Sauce\', \'Pork Lemon Coriander Sauce\', "Fish Korean Kim\'s Style", \'Fish Tangy Spinach Sauce\', \'Fish Apollo Style Sauce\', \'Fish Singaporean Style Sauce\', \'Fish Ginger Chilly Garlic Sauce\', \'Fish Chefs Super Spicy Style\', \'Fish Hot Garlic Sauce\', \'Fish Lemon Coriander Sauce\', "Korean Kim\'s Style", \'Prawns Tangy Spinach Sauce\', \'Prawns Apollo Style Sauce\', \'Prawns Apollo Style Sauce\', \'Prawns Ginger Chilly Garlic Sauce\', \'Prawns Chefs Super Spicy Style\', \'Prawns Hot Garlic Sauce\', \'Prawns Lemon Coriander Sauce\', \'Veg Stir Fried Rice\', \'Veg Mongolian Rice\', \'Veg Olivers Spicy Rice\', \'Veg Singaporean Rice\', \'Egg Stir Fried Rice\', \'Egg Mongolian Rice\', \'Egg Olivers Spicy Rice\', \'Egg Singaporean Rice\', \'Chicken Stir Fried Rice\', \'Chicken Mongolian Rice\', \'Chicken Olivers Spicy Rice\', \'Chicken Singaporean Rice\', \'Beef Stir Fried Rice\', \'Beef Mongolian Rice\', \'Beef Olivers Spicy Rice\', \'Beef Singaporean Rice\', \'Pork Stir Fried Rice\', \'Pork Mongolian Rice\', \'Pork Olivers Spicy Rice\', \'Pork Singaporean Rice\', \'Fish Stir Fried Rice\', \'Fish Mongolian Rice\', \'Fish Olivers Spicy Rice\', \'Fish Singaporean Rice\', \'Prawns Stir Fried Rice\', \'Prawns Mongolian Rice\', \'Prawns Olivers Spicy Rice\', \'Prawns Singaporean Rice\', \'Veg Stir Fried Noodles\', \'Veg Mongolian Noodles\', \'Veg Olivers Spicy Noodles\', \'Veg Singaporean Noodles\', \'Egg Stir Fried Noodles\', \'Egg Mongolian Noodles\', \'Egg Olivers Spicy Noodles\', \'Egg Singaporean Noodles\', \'Chicken Stir Fried Noodles\', \'Chicken Mongolian Noodles\', \'Chicken Olivers Spicy Noodles\', \'Chicken Singaporean Noodles\', \'Beef Stir Fried Noodles\', \'Beef Mongolian Noodles\', \'Beef Olivers Spicy Noodles\', \'Beef Singaporean Noodles\', \'Pork Stir Fried Noodles\', \'Pork Mongolian Noodles\', \'Pork Olivers Spicy Noodles\', \'Pork Singaporean Noodles\', \'Fish Stir Fried Noodles\', \'Fish Mongolian Noodles\', \'Fish Olivers Spicy Noodles\', \'Fish Singaporean Noodles\', \'Prawns Stir Fried Noodles\', \'Prawns Mongolian Noodles\', \'Prawns Olivers Spicy Noodles\', \'Prawns Singaporean Noodles\', \'Mexican Bean Burger\', \'Bean Bbq\', \'Ginger Chilly Garlic Sauce Burger\', \'Cottage Cheese Jerky Burgers\', \'Spinach Ricotta Smashers\', \'Grilled Pepper Smashers\', \'Grilled Veg Sandwich\', \'Falafel\', \'Eggplant Parm\', "Chicken Grilled One\'s Burger", "Beef Grilled One\'s Burger", \'Almost Famous Moo Burger\', \'Miami Chicken Burger\', \'Miami Beef Burger\', \'Philly Cheesesteak Burger\', \'Santa Fe Beef Burger\', \'Cleveland Sandwich\', \'Philly Cheese Steak Sandwich\', \'Cuban Sandwich\', \'Pulled Chicken Sandwich\', \'Beef Saigon Bahn Mi Sandwich\', \'Pork Saigon Bahn Mi Sandwich\', \'Cheese Garlic Bread\', \'Jalapeno Poppers\', \'Cajun Spiced Potato Wedges\', \'Bruschetta\', \'Spring Rolls\', \'Crispy Potato Fingers\', \'Manchurian Style\', \'Streeside Chilly Style\', \'Crispy Fried Babycorn\', \'American Corn Bombs\', \'Cripsy Fried Paneer\', \'Pepper Salt\', \'OliverÃ\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x83Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82Â¢Ã\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x82Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82\\x80Ã\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x82Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82\\x99s Pepper Masala Paneer Roast\', \'OliverÃ\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x83Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82Â¢Ã\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x82Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82\\x80Ã\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x82Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82\\x99s Chettinad Aloo Roast\', \'OliverÃ\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x83Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82Â¢Ã\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x82Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82\\x80Ã\x83\\x83Ã\x82\\x83Ã\x83\\x82Ã\x82\\x82Ã\x83\\x83Ã\x82\\x82Ã\x83\\x82Ã\x82\\x99s Pudhina Aloo Roast\', \'Onion Pakoda\', \'Paneer Pakoda\', \'Egg Bhurji\', \'Masala Egg Pakoda\', \'Masala Omlette\', \'Egg Bhurji With Bacon & Sausage\', \'Chilly Egg\', \'Egg Bhurji With Bacon And Sausage\', \'Pizza Margharita\', \'Spicy Louisiana Pizza\', \'Wilted Spinach Pizza\', \'Eggplant Pizza\', \'Patata Salsa Pizza\', \'Stirfried Babycorn Pizza\', \'Arugula Pizza\', \'Pesto Shrooms Pizza\', \'Chilly Paneer Pizza\', \'Spicy Peri Peri Paneer & Spinach Pizza\', \'Mexican Nachos Special Pizza\', \'Chicken BBQ Pizza\', \'Chicken Sausage Pizza\', \'Chilly Chicken Pizza\', \'Chicken 65 Pizza\', \'Chicken Mexicana Pizza\', \'Chicken Bolognese Pizza\', \'Mexican Chicken Nachos Pizza\', \'Mexican Beef Nachos Pizza\', \'Arugula Bacon Pizza\', \'Pepperoni Pizza\', \'Chorizo Pizza\', \'Chocolate Brownie\']',
       "['Dal Tadka', 'Dal Makhani', 'Paneer Tikka Masala', 'Kadai Paneer', 'Paneer Makhani', 'Malai Kofta', 'Mutton Rogan Josh', 'Jeera Rice', 'Veg Biryani', 'Murgh Dum Biryani', 'Murgh Dum Biryani [Family Pack]', 'Hara Bara Kabab', 'Paneer Tikka', 'Tandoori Murgh', 'Murgh Lahori Kalmi', 'Jalebi with Rabdi', 'Roomali Roti', 'Afghani Naan', 'Stuffed Paratha', 'Paneer Tikka Masala Meal', 'Paneer Makhani Meal', 'Veg Biryani Meal', 'Executive Veg Box Meal', 'Executive Non Veg Box Meal', 'Rajma Meal', 'Peshawari Channa Meal', 'Paneer Tikka Masala Meal', 'Paneer Makhani Meal', 'Egg Curry Meal', 'Butter Chicken Meal', 'Rara Murgh Meal', 'Mutton Rogan Josh Meal', 'Rara Mutton Meal', 'Veg Biryani Meal', 'Egg Biryani Meal', 'Murgh Dum Biryani Meal', 'Murgh Tikka Biryani Meal', 'Mutton Biryani Meal', 'Prawns Biryani Meal', 'Executive Veg Box Meal', 'Executive Non Veg Box Meal', 'Tomato Shorba', 'Murgh Shorba', 'Bagicha ka Salad', 'Karela Salad', 'Kaju Fry Salad', 'Murgh Tikka Salad', 'French Fries', 'Aloo Tak-a-Tak', 'Baby Corn Harimirch Wala', 'Bhatti ka Gobi', 'Hara Bara Kabab', 'Tandoori Mushroom', 'Mushroom Harimirch Wala', 'Paneer Resunga', 'Paneer Tikka', 'Peshawari Seekh Kabab', 'Tandoori Murgh', 'Murgh Lahori Kalmi', 'Mutton Pepper Dry', 'Macchi Amritsari', 'Macchi Tak-a-Tak', 'Tawa Macchi', 'Prawns Balaika', 'Prawns Tak-a-Tak', 'Tandoori Prawns', 'Prawns Harimirch Wala', 'Dal Tadka', 'Dal Makhani', 'Paneer Tikka Masala', 'Paneer Saagwala', 'Kadai Paneer', 'Paneer Makhani', 'Mushroom Matar', 'Veg Patiala', 'Diwani Handi', 'Kadai Veg', 'Rajma', 'Sarson ka Saag', 'Aloo Gobi Masala', 'Bhindi Do Pyaza', 'Peshawari Channa', 'Malai Kofta', 'Kaju Masala', 'Egg Bhurji', 'Egg Masala', 'Rarra Mutton', 'Mutton Rogan Josh', 'Methi Macchi Masala', 'Macchi Jalfrezi', 'Prawns Masala', 'Plain Rice', 'Curd Rice', 'Jeera Rice', 'Veg Pulao', 'Peas Pulao', 'Veg Biryani', 'Egg Biryani', 'Murgh Dum Biryani', 'Murgh Tikka Biryani', 'Mutton Biryani', 'Prawns Biryani', 'Egg Biryani [Family Pack]', 'Murgh Dum Biryani [Family Pack]', 'Murgh Tikka Biryani [Family Pack]', 'Mutton Biryani [Family Pack]', 'Prawns Biryani [Family Pack]', 'Phulka', 'Roti', 'Butter Roti', 'Harimirch Paratha', 'Lalmirch Paratha', 'Garlic Naan', 'Naan', 'Butter Naan', 'Lachha Paratha', 'Kulcha', 'Butter Kulcha', 'Makkai Ki Roti', 'Roomali Roti', 'Afghani Naan', 'Peshawari Paratha', 'Stuffed Paratha', '8 Roti ka Chota Khazana', '12 Roti ka Bada Khazana', 'Egg Paratha', 'Mutton Keema Paratha', 'Roasted Papad', 'Masala Papad', 'Plain Curd', 'Mixed Veg Raita', 'Boondi Raita', 'Cucumber Raita', 'Pineapple Raita', 'Onion Raita', 'Mint Raita', 'Rabdi', 'Jalebi', 'Jalebi with Rabdi', 'Gulab Jamun', 'Rasgulla', 'Bhune Jeere ki Chaach', 'Jal Jeera', 'Meetha Punjabi Lassi', 'Namkeen Punjabi Lassi', 'Masala Punjabi Lassi', 'Patiala Punjabi Lassi', 'Meetha Nimboo Paani', 'Namkeen Nimboo Paani', 'Roohafza Sherbat', 'Mineral Water [1 litre]']"],
      dtype=object)

In [30]:
df

,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,1,1,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,0,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,1,0,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,0,0,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,0,0,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6 /5,27,Whitefield,Bar,NaN,Continental,1500.0,"[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,0,0,NaN,0,Whitefield,Bar,NaN,Finger Food,600.0,[],[],Pubs and bars,Whitefield
51714,0,0,NaN,0,Whitefield,Bar,NaN,Finger Food,2000.0,[],[],Pubs and bars,Whitefield
51715,0,1,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,2500.0,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,0,0,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental",1500.0,"[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [31]:
type(df["rate"])

pandas.core.series.Series

In [32]:
# def remove1(s):
#     ans = 0
#     for i in s:
#         if i =='/':
#             return ans
            
#         ans *= 10
#         ans += int(i)
#         return ans

In [33]:
#for i in range (len(df['rate'])):
#    df.at[i,'rate']=remove1(df.at[i,'rate'])

In [34]:
df['votes'].isnull().sum()

0

In [35]:
df['location'].isnull().sum()

21

In [36]:
df['location'].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Nagarbhavi', 'Bannerghatta Road', 'BTM', 'Kanakapura Road',
       'Bommanahalli', nan, 'CV Raman Nagar', 'Electronic City', 'HSR',
       'Marathahalli', 'Sarjapur Road', 'Wilson Garden', 'Shanti Nagar',
       'Koramangala 5th Block', 'Koramangala 8th Block', 'Richmond Road',
       'Koramangala 7th Block', 'Jalahalli', 'Koramangala 4th Block',
       'Bellandur', 'Whitefield', 'East Bangalore', 'Old Airport Road',
       'Indiranagar', 'Koramangala 1st Block', 'Frazer Town', 'RT Nagar',
       'MG Road', 'Brigade Road', 'Lavelle Road', 'Church Street',
       'Ulsoor', 'Residency Road', 'Shivajinagar', 'Infantry Road',
       'St. Marks Road', 'Cunningham Road', 'Race Course Road',
       'Commercial Street', 'Vasanth Nagar', 'HBR Layout', 'Domlur',
       'Ejipura', 'Jeevan Bhima Nagar', 'Old Madras Road', 'Malleshwaram',
       'Seshadripuram', 'Kammanahalli', 'Koramangala 6th Block',
       'Majestic', 'Langford Town', 'Central Bangalore', 'Sanjay Nagar',
       'Brookefield', 'ITPL Main Road, Whitefield',
       'Varthur Main Road, Whitefield', 'KR Puram',
       'Koramangala 2nd Block', 'Koramangala 3rd Block', 'Koramangala',
       'Hosur Road', 'Rajajinagar', 'Banaswadi', 'North Bangalore',
       'Nagawara', 'Hennur', 'Kalyan Nagar', 'New BEL Road', 'Jakkur',
       'Rammurthy Nagar', 'Thippasandra', 'Kaggadasapura', 'Hebbal',
       'Kengeri', 'Sankey Road', 'Sadashiv Nagar', 'Basaveshwara Nagar',
       'Yeshwantpur', 'West Bangalore', 'Magadi Road', 'Yelahanka',
       'Sahakara Nagar', 'Peenya'], dtype=object)

In [37]:
df['location'] = df['location'].dropna()

In [38]:
df['location'].isnull().sum()

21

In [39]:
df['location'].isnull().iloc()

In [40]:
df[df['location'] == True].index.tolist()

[]

In [41]:
df.index[df['location']=='nan'].tolist()

[]

In [151]:
df['location'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
51705    False
51707    False
51708    False
51711    False
51715    False
Name: location, Length: 23392, dtype: bool

### BUILDING A FUNCTION TO DROP ALL THE NULL VALUES IN THE 'location' COLUMN

In [43]:
arr = df['location'].isnull()
for i in range(arr.size):
    if(arr[i] == True):
        df.drop([i] , axis = 0,inplace = True)

In [44]:
df['cuisines'].isnull().sum()

24

In [45]:
df['cuisines'].unique()

array(['North Indian, Mughlai, Chinese', 'Chinese, North Indian, Thai',
       'Cafe, Mexican, Italian', ...,
       'North Indian, Street Food, Biryani', 'Chinese, Mughlai',
       'North Indian, Chinese, Arabian, Momos'], dtype=object)

In [46]:
arr1 = df['cuisines'].unique()
print(arr1.size)

2724

In [47]:
arr2 = df['dish_liked'].unique()
print(arr2.size)

5272

In [48]:
df.dropna(how='any', inplace=True)

In [142]:
df.shape

(23392, 13)

### ON THE 'rate' COLUMN WE'RE EXTRACTING THE NUMERICAL VALUE WHICH IS  THE ACTUAL RATING

In [50]:
df['rate'] = df['rate'].apply(lambda x: x.replace('/5',''))

In [53]:
df['rate'] = df['rate'].astype(float)

/var/folders/jm/fzpx9nmx3gl9k9bfkhp1cy100000gn/T/ipykernel_21032/2854580240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rate'] = df['rate'].astype(float)

In [52]:
df = df.loc[df.rate != 'NEW']

In [143]:
df

,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,1,1,4.1,775,1,20,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",1391,800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",5047,Buffet,Banashankari
1,1,0,4.1,787,1,20,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",596,800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",5047,Buffet,Banashankari
2,1,0,3.8,918,1,16,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",486,800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",5047,Buffet,Banashankari
3,0,0,3.7,88,1,62,Masala Dosa,1592,300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",5047,Buffet,Banashankari
4,0,0,3.8,166,4,20,"Panipuri, Gol Gappe",1411,600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",5047,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51705,1,1,3.8,128,84,5,"Beer, Chicken Guntur, Paneer Tikka, Fish, Nood...",1323,1200.0,"[('Rated 3.0', ""RATED\n Nice place to hangout...",5047,Pubs and bars,Whitefield
51707,0,0,3.9,77,84,38,Rooftop Ambience,882,2000.0,"[('Rated 4.0', 'RATED\n Went there post dinne...",5047,Pubs and bars,Whitefield
51708,0,0,2.8,161,84,21,"Salads, Coffee, Breakfast Buffet, Halwa, Chick...",541,1200.0,"[('Rated 3.0', 'RATED\n Place is good not tha...",5047,Pubs and bars,Whitefield
51711,0,0,2.5,81,84,21,"Biryani, Andhra Meal",80,800.0,"[('Rated 4.0', 'RATED\n A fine place to chill...",5047,Pubs and bars,Whitefield
51715,0,1,4.3,236,25,4,"Cocktails, Pizza, Buttermilk",882,2500.0,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",5047,Pubs and bars,Whitefield

### WITH THE HELP OF LabelEncoder  WE'RE JUST ASSIGNING THE NUMERICAL CODES FOR THE DIFFERENT VALUES IN THE COLUMNS SO THAT MODEL IS ABLE TO FEED ON THESE COLUMNS

In [55]:
from sklearn.preprocessing import LabelEncoder
la = LabelEncoder()

In [56]:
df.location = la.fit_transform(df.location)
df.menu_item = la.fit_transform(df.menu_item)
df.cuisines = la.fit_transform(df.cuisines)
df.rest_type = la.fit_transform(df.rest_type)

/var/folders/jm/fzpx9nmx3gl9k9bfkhp1cy100000gn/T/ipykernel_21032/561758820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.location = la.fit_transform(df.location)
/var/folders/jm/fzpx9nmx3gl9k9bfkhp1cy100000gn/T/ipykernel_21032/561758820.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.menu_item = la.fit_transform(df.menu_item)
/var/folders/jm/fzpx9nmx3gl9k9bfkhp1cy100000gn/T/ipykernel_21032/561758820.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.cuisines = la.fit_transform(df.cuisines)
/var/folders/jm/fzpx9nmx3gl9k9bfkhp1cy100000gn/T/ipykernel_21032/561758820.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rest_type = la.fit_transform(df.rest_type)

In [146]:
df

,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,1,1,4.1,775,1,20,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",1391,800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",5047,Buffet,Banashankari
1,1,0,4.1,787,1,20,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",596,800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",5047,Buffet,Banashankari
2,1,0,3.8,918,1,16,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",486,800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",5047,Buffet,Banashankari
3,0,0,3.7,88,1,62,Masala Dosa,1592,300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",5047,Buffet,Banashankari
4,0,0,3.8,166,4,20,"Panipuri, Gol Gappe",1411,600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",5047,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51705,1,1,3.8,128,84,5,"Beer, Chicken Guntur, Paneer Tikka, Fish, Nood...",1323,1200.0,"[('Rated 3.0', ""RATED\n Nice place to hangout...",5047,Pubs and bars,Whitefield
51707,0,0,3.9,77,84,38,Rooftop Ambience,882,2000.0,"[('Rated 4.0', 'RATED\n Went there post dinne...",5047,Pubs and bars,Whitefield
51708,0,0,2.8,161,84,21,"Salads, Coffee, Breakfast Buffet, Halwa, Chick...",541,1200.0,"[('Rated 3.0', 'RATED\n Place is good not tha...",5047,Pubs and bars,Whitefield
51711,0,0,2.5,81,84,21,"Biryani, Andhra Meal",80,800.0,"[('Rated 4.0', 'RATED\n A fine place to chill...",5047,Pubs and bars,Whitefield
51715,0,1,4.3,236,25,4,"Cocktails, Pizza, Buttermilk",882,2500.0,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",5047,Pubs and bars,Whitefield

### EXTRACTING THE COLUMNS THROUGH WHICH MODEL WILL LEARN TO PREDICT OR WE CAN SAY WITH THE HELP OF THESE MODEL WILL MAKE PREDICTIONS (THEY ARE THE SIGNIFICANT FACTORS)

In [145]:
x = df.iloc[:,[0,1,3,4,5,7,8,10]]
x.head()

,online_order,book_table,votes,location,rest_type,cuisines,approx_cost(for two people),menu_item
0,1,1,775,1,20,1391,800.0,5047
1,1,0,787,1,20,596,800.0,5047
2,1,0,918,1,16,486,800.0,5047
3,0,0,88,1,62,1592,300.0,5047
4,0,0,166,4,20,1411,600.0,5047

###  EXTRACTING THE COLUMN WHICH IS TO BE PREDICTED BY THE MODEL

In [64]:
y = df['rate']
y

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51705    3.8
51707    3.9
51708    2.8
51711    2.5
51715    4.3
Name: rate, Length: 23392, dtype: float64

# MODEL BUILDING

In [67]:
from sklearn.model_selection import train_test_split

In [70]:
#help(train_test_split)

In [99]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

### APPLYING LINEAR REGRESSION

In [73]:
from sklearn.linear_model import LinearRegression

In [75]:
Li = LinearRegression()

In [81]:
Li.fit(X_train,y_train)

LinearRegression()

In [109]:
Li_prediction_result = Li.predict(X_test)
Li_prediction_result

array([4.15803337, 4.0139357 , 3.66361409, ..., 4.20271065, 3.73426747,
       4.3086058 ])

### PREDICTING THE ERROR OF LINEAR REGRESSION MODEL

In [88]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [110]:
mean_absolute_error(y_test,Li_prediction_result)

0.2648613959304658

In [111]:
mean_squared_error(y_test,Li_prediction_result)

0.14160991686635838

In [112]:
from sklearn.metrics import r2_score

In [113]:
r2_score(y_test,Li_prediction_result)

0.219963661359864

### APPLYING RANDOM FOREST REGRESSOR

In [101]:
from sklearn.ensemble import RandomForestRegressor

In [103]:
rf_model = RandomForestRegressor()

In [152]:
rf_model.fit(X_train,y_train)

RandomForestRegressor()

### PREDICTING THE ERROR OF RANDOM FOREST REGRESSOR MODEL

In [116]:
rf_prediction_result = rf_model.predict(X_test)

In [118]:
mean_absolute_error(y_test,rf_prediction_result)

0.05890816424436353

In [120]:
mean_squared_error(y_test,rf_prediction_result)

0.018489335588347814

In [122]:
r2_score(y_test,rf_prediction_result)

0.8981543527785952

### APPLYING EXTRA TREE REGRESSOR

In [124]:
from sklearn.ensemble import ExtraTreesRegressor

In [126]:
ex_model = ExtraTreesRegressor()

In [158]:
ex_model.fit(X_train,y_train)

ExtraTreesRegressor()

### PREDICTING THE ERROR OF EXTRA TREE REGRESSOR MODEL

In [134]:
ex_prediction_result = ex_model.predict(X_test)
ex_prediction_result

array([4.3  , 3.8  , 4.   , ..., 4.201, 4.   , 4.1  ])

In [154]:
r2_score(y_test,ex_prediction_result)

0.9215750127190919

In [156]:
mean_squared_error(y_test,ex_prediction_result)

0.014237485331075285

In [159]:
mean_absolute_error(y_test,ex_prediction_result)

0.03664347181100749

# IN CONCLUSION THE ACCURACY OF THE MODEL IS 92%(USING EXTRA TREE REGRESSOR) AND ERROR IS 0.014 FOR RMSE AND 0.036 FOR MAE .